html,body,div{
  margin: 0;
  padding: 0;
  color: #fff;
}
/* *{
  margin: 0;
  padding: 0;
} */
.head,.lf,.md,.rg,.foot{
  background-color: #5DE6E5;
}
.head{
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
}
.foot{
  width: 100%;
  height: 50px;
  text-align: center;
}
.main{
  padding: 60px 0 10px;  
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
  *zoom:1;
  position: relative;
}
.lf,.md,.rg{
  float: left;
}
.lf{
  width: 300px;
  margin-right: 10px;
}
.md{
  width: 600px;
  margin-right: 10px;
  min-height: 2000px;
}
.rg{
  width: 300px;
}
.fixed{
  position: fixed;
  top: 0;
}